* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.funcionalidades {
    display: flex;
    flex: 1;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.funcionalidades div {
    margin: 20px;
    background-color: blueviolet;
}

.funcionalidades a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 20px;
}



h3 {
    text-align: center;
    color: #333;
}

.form-options {
    margin: 240px auto;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}